openai
langchain
streamlit
llama-index
pypdf
python-dotenv
transformers
einops
accelerate
bitsandbytes
google-generativeai
faiss-cpu
chromadb
langchain-community
unstructured
tiktoken
sentence-transformers
bs4
pdfminer.six
torch
requests
pdf2image
langchain_google_genai
groq
langchain-groq
wikipedia
arxiv
cassio
fastapi
langserve
uvicorn
sse_starlette
langchain_core
